apiVersion: v1
kind: Secret
metadata:
  name: db-connection
  namespace: nutri-veda-dev
type: Opaque
stringData:
  connection-string: "Server=<DB_SERVER>;Database=<DB_NAME>;User Id=<DB_USER>;Password=<DB_PASSWORD>;"
  username: "<DB_USER>"
  password: "<DB_PASSWORD>"
